<% @dialogs.each do |dialog| %>
  <% opponent = dialog.opponent_to(current_user) %>
  <div class='requester span6'>
    <%= image_tag opponent.avatar.url(:thumb), class: 'span3' %>
    <div class='span2'>
      <%= link_to opponent.full_name, dialog %>
      <p class='last-message'><%= dialog.messages.last.body %></p>
    </div>
  </div>
<% end %>
